html {
  font-family: "Noto Serif", serif;
}

body, .btn {
  background-color: #70ad55;
}

h1, footer {
  padding-left: .5rem;
  color: #fff;
  padding-top: 1.3rem;
}

p {
  padding-bottom: .2rem;
  padding-top: 1rem;
  padding-left: .8rem;
  color: #fff;
}
input, textarea {
  border: 2px solid #6e8c62;
}

.container {
  padding: 2.6rem .7rem;
  background-color: #fff;
}

.top-green {
  margin: 0;

  padding: 1rem;
}

.btn {
  padding: .5rem 2rem;
  border-color: #70ad55;
  color: #fff;
}

fieldset {
  border-top: none;
}

.option {
  color: #70ad55;
}

textarea {
  max-width: 100%;
  min-height: 8em;
}

.apply {
  border-bottom: 2px solid #70ad55;
}
