html {
  font-family: Open Sans, sans-serif
}

body {
  background-color: #f2f2f2;
}

.background {
  background-color: #70ad55;
  padding: 1rem;
}
.container {
  max-width: 300px;
  padding: 2.6rem 1rem;
  background-color: #fff;
}

.btn {
  padding: .15rem .5rem;
}
fieldset {
  border-top: none;
}

@media only screen and (min-width: 60em) {



}
