html {
  font-family: Noto Serif, serif;
}

body {
  background-color: #70ad55;
}

h1, p {
  padding-left: 1rem;
  color: #fff;
  padding-top: 1rem;
}

input, textarea {
border: 2px solid #6e8c62;
}
.container {
  padding: 2.6rem 1rem;
  background-color: #fff;
}
.top-green {
  margin: 0;

  padding: 1rem;
}
.btn {
  padding: .15rem .5rem;
}
fieldset {
  border-top: none;
  border-bottom:  2px solid #70ad55;
}

@media only screen and (min-width: 60em) {



}
